/* 
Theme Name: Logistic Pro
Author: Glixen Technologies
Theme URI: http://logisticpro.glixentech.com/demos/
Author URI: https://themeforest.net/user/glixentechnologies
Description: Logistic Pro is modern and stylish WordPress theme. It is best fit for logistics, trucking, warehousing, cargo, transportation, ocean freight and air freight services.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: logistic-pro
Tags: one-column, two-columns, left-sidebar, right-sidebar, custom-menu, full-width-template, sticky-post, theme-options, translation-ready
*/


.panel-primary {
    border-color: #337ab7;
}
.panel {
    border-color: #337ab7!important;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 15px;
}      
.panel-body {
    padding: 15px;
}


.dropdown_custom {
    position: relative;
    display: inline-block;
    margin-top: 20%;
}

.dropdown_custom_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1000;
    margin-left: -102%;
    /*margin-top: 2%;*/
}

.dropdown_custom:hover .dropdown_custom_content {
    display: block;
}
.custom_contents{
    max-width: 100%!important;
    width:100%!important;
}

.navs_custom {
    list-style:none!important;
    list-style-type: none;
    margin: 0px!important;
    padding: 0;
   /* width: 200px;*/
    background-color: #f1f1f1;
    border-radius: 5px;
}

.navs_custom > li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.navs_custom > li a.active {
    background-color: #016db6;
    color: white!important;
}

.navs_custom > li a:hover:not(.active) {
    background-color: #016db6;
    color: white!important;
}
.w3-card-4, .w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.w3-brown, .w3-hover-brown:hover {
    color: #fff!important;
    background-color: #4a97c2!important;
}

.w3-container, .w3-panel {
    padding: 12px 15px;
}

.w3-text-brown, .w3-hover-text-brown:hover {
    color: #795548!important;
}
.w3-sand, .w3-hover-sand:hover {
    color: #000!important;
    background-color: #ffffff!important;
}
.w3-border {
    border: 1px solid #ccc!important;
}
.w3-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
button, input {
    overflow: visible;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}
.w3-select{
    padding: 4px!important;
    width:100%;
    border:none;
    border-bottom:1px solid #ccc
}
.w3-border{
    border:1px solid #ccc!important
}

.background_hover_menu{
    background-color: #016db6 !important;
}

#liste-demande_filter > label > .form-control{
    padding:15px!important;
}
#liste-demande-ancien_filter > label > .form-control{
    padding:15px!important;
}
#liste-mails-demande-client_filter > label > .form-control{
    padding:15px!important;
}
#liste-mails-demande-client-ancien_filter > label > .form-control{
    padding:15px!important;
}

.menu_with_article > p {
    margin: 0px!important;
} 
.menu_with_article_dropdown > p {
    display: inline!important;
} 
.drp_menu_custom > p {
    line-height: 50px!important;
    margin: 3px 0px -6px;
}
.custom_pannel_body{
    padding: 0px!important;
}
.style_bg_images_customs{
    background-repeat: no-repeat;
    background-image: url(images/los_angeles.jpg);
}

.style_paddin_pannels_custom{
    padding: 0px!important;
}